@charset "utf-8";
/* CSS Document */
body, html{
	font-family: 'Jost', sans-serif;
	font-size: 16px;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
html:lang(ja-jp){
	font-family: 'Zen Kaku Gothic New', sans-serif;
}
li{
	text-decoration: none;
	list-style: none;
}
p{
	margin: 0;
}

/* Header */
.head{
	background-color: #F9F9F9;
	height: 50px;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	position: fixed;
	top: 0px;
	left: 0px;
}
.SHheadlogo a{
	color: #374F56;
	display: block;
	line-height: 50px;
	text-decoration: none;
	font-weight: 400;
	font-size: 1.6em;
}
.SHheadlogo a span{
	color: #FCD800;
}
.head .nav-right{
	margin-right: 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.cart{
	background: url("../images/Cart.png") no-repeat center;
	background-size: contain;
	display: block;
	height: 20px;
	width: 20px;
	margin: 15px 0 15px 12px;
}
.fav{
	background: url("../images/fav-empty.png") no-repeat center;
	background-size: contain;
	display: block;
	height: 20px;
	width: 20px;
	margin: 15px 0 15px 12px;
}

/* Drop Down Menu */
.sidebar{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    position: fixed;
    top: 0;
    left: -300px;
	height: 100%;
	background-color: #F9F9F9;
	width: 250px;
	transition: 0.3s;
    box-sizing: border-box;
	z-index: 2;
}
.sidebar a, .drop-btn{
	padding: 6px 10px 6px 16px;
	text-decoration: none;
  	color: #374F56;
	font-family: 'Jost', sans-serif;
	font-size: 1em;
	font-weight: 300;
  	display: block;
  	border: none;
  	background: none;
  	width:100%;
  	text-align: left;
  	cursor: pointer;
  	outline: none;
}
.drop-ctn{
	display: none;
	padding-left: 30px;
}
.hb-menu{
	color: #F9F9F9;
    width: 25px;
    height: 20px;
    border: none;
    padding: 0px;
    margin: 15px;
    background: linear-gradient(
      to bottom, 
      #374F56, #374F56 5%, 
      #F9F9F9 5%, #F9F9F9 47%, 
      #374F56 47.5%, #374F56 52.5%, 
      #F9F9F9 52%, #F9F9F9 95%, 
      #374F56 95%, #374F56 100%
    );
}


/*Borrowed Overlay*/
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: 1;
}
.close{
	display: block;
	float: right;
	width: 25px;
    height: 20px;
    border: none;
    padding: 0px;
    margin: 15px 15px 7px;
    background: url("../images/close-btn.png") no-repeat center;
	background-size: contain;
}
.top a:first-of-type{
	clear: both;
}

/*Pop up Search Styles*/
#search-bar{
	height: 30px;
	width: 30px;
	display: flex;
	flex-direction:row-reverse;
	background-color: #F9F9F9;
	border-radius: 16px;
	margin: 10px 0;
}
#search-input{
	display: none;
}
#search-bar #search-icon{
	width: 30px;
	height: 30px;
	background: url("../images/Search.png") center no-repeat;
	background-size: 66%;
	border: none;
	margin: 0;
	padding: 0;
	z-index: 1;
}
#search-area{
	border: none;
	border-radius: 16px;
	font-family: 'Jost', sans-serif;
	font-weight: 300;
	font-size: 1em;
	width: 20px;
	color: #B1B1B1;
	padding: 5px 0 5px 10px;
	visibility: hidden;
	position: relative;
	right: 0px;
	transition: 0.35s;
	z-index: -1;
}
#search-input:checked + #search-area{
	visibility: visible;
	right: 217px;
	width: 237px;
	z-index: 1;
}

